.bootstrap-scope #menu_ynh,
.bootstrap-scope #menu_ynh .dropdown-menu li {
    font-size: 12px !important;
    font-family: "DejaVu Sans",Verdana,Geneva,sans-serif !important;
    text-align:justify;
}

.bootstrap-scope #menu_ynh .dropdown-menu {
    min-width:140px;
}

.bootstrap-scope #menu_ynh .dropdown-menu > li > a {
    padding: 3px 15px;
}

.bootstrap-scope #menu_ynh .dropdown a .caret {
    margin-left:-50%;
    margin-top:25px;
    visibility:hidden;
}

.bootstrap-scope #menu_ynh .dropdown a:hover .caret,
.bootstrap-scope #menu_ynh .dropdown a:focus .caret {
    visibility:visible;
}

.bootstrap-scope #menu_ynh .dropdown-menu li a .new-window { /*a:not(.modal-link)*/
    visibility:hidden;
    font-size:10px !important;
}

.bootstrap-scope #menu_ynh .dropdown-menu li a:hover .new-window,
.bootstrap-scope #menu_ynh .dropdown-menu li a:focus .new-window {
    visibility:visible;
}

.bootstrap-scope #menu_ynh .dropdown:nth-child(1) .dropdown-menu li a:hover {background-color: #0C5B7A !important;color:#fff !important;} /* bleu logiciel */
.bootstrap-scope #menu_ynh .dropdown:nth-child(2) .dropdown-menu li a:hover {background-color: #CC2D18 !important;color:#fff !important;} /* rouge culture */
.bootstrap-scope #menu_ynh .dropdown:nth-child(3) .dropdown-menu li a:hover {background-color: #9BAE5F !important;color:#fff !important;} /* vert services */
.bootstrap-scope #menu_ynh .dropdown:nth-child(4) .dropdown-menu li a:hover {background-color: #DBA306 !important;color:#fff !important;} /* jaune en vrac */

.bootstrap-scope #menu_ynh .dropdown:nth-child(5) .dropdown-menu li a:hover {background-color: #6A5687 !important;color:#fff !important;} /* violet nous suivre */
.bootstrap-scope #menu_ynh .navbar-right .dropdown:nth-child(1) .dropdown-menu li a:hover {background-color: #EB7E41 !important;color:#fff !important;} /* orange a propos */


.bootstrap-scope #menu_ynh {
    min-height:30px !important;                 /*50px sur BS */
    margin-bottom:0;
    height:42px;
}

.bootstrap-scope #menu_ynh.navbar {
    z-index:1001;
    background-color: rgb(248, 248, 248) !important;
}

.bootstrap-scope #menu_ynh img {margin:0}

.bootstrap-scope #menu_ynh .navbar-brand,
.bootstrap-scope #menu_ynh .navbar-nav > li > a {
    padding:10px 15px;                /*15px sur BS*/
}

.bootstrap-scope #menu_ynh .dropdown-toggle {
    padding:7px 2px 5px 12px !important;
}

.bootstrap-scope #menu_ynh .nav-container {
    margin:auto;
    background-color:#f8f8f8;
}

@media (min-width: 768px) {
    .bootstrap-scope #menu_ynh .nav-container {
        width:930px;        /* largeur fixe pour que la nav tienne sur une seule ligne */
    }
    .bootstrap-scope #menu_ynh.navbar .collapse { /* bug dans certaines config en box-sizing: content-box*/
        height:40px !important;
    }
}
@media (max-width: 768px) { /* la nav pour tablette/mobile n'a pas ce problème */
    .bootstrap-scope #menu_ynh .nav-container {
        width:auto;
    }
}

.bootstrap-scope #menu_ynh .popover {
    width : 300px;
}
.bootstrap-scope #menu_ynh .popover a {
    color:rgb(51,51,51);
    text-decoration:none;
}
.bootstrap-scope #menu_ynh .popover.right {
    margin-top:25px;
}
.bootstrap-scope #menu_ynh .popover.right .arrow {
    margin-top:-35px;
}

.bootstrap-scope #menu_ynh .popover.bottom {
    margin-left:-100px;
}
.bootstrap-scope #menu_ynh .popover.bottom .arrow {
    margin-left:100px;
}

.bootstrap-scope #menu_ynh .navbar-brand {
    font-weight: bold;
    height: 40px;
    padding:0 10px 0 50px;
    line-height:40px;
}

.bootstrap-scope #menu_ynh .nav-brand img {border:none;}

.bootstrap-scope #menu_ynh .popover-title { font-weight: bold; }


/* --- on s'assure on a bien une nav coll�e en haut en cas de petit �cran --- */
@media (max-width: 979px) {
    .bootstrap-scope  {
            margin-top: 0px !important;
    }
}

.bootstrap-scope .navbar-toggle {padding: 4px 6px !important;}

.bootstrap-scope #nav-alert.alert-black {
    color: white;
    background-color: black;
    border-color: #262626;
}

.bootstrap-scope #nav-alert.alert {
    padding:10px;
    margin-bottom:0;
    font-size:14px;
    line-height:18px;
    font-family: "DejaVu Sans",Verdana,Geneva,sans-serif !important;
    text-shadow:none;
}
.bootstrap-scope #nav-alert.alert p {
    margin-bottom:5px;
    margin-top:0px;
}

.bootstrap-scope #nav-alert a {
    color:#888;
    border-bottom: 1px dotted #888;
    text-decoration:none;
}
.bootstrap-scope #nav-alert a:hover,.bootstrap-scope #nav-alert a:focus {
    color: #7E4F82;
    border-bottom: 1px solid #7E4F82;
}
.bootstrap-scope #nav-skip {
    position:absolute;
    margin-top:-50px;
}
.bootstrap-scope #nav-skip:focus {
    width: auto;
    line-height: 20px;
    margin: 0 0 0 -115px;
    padding: 10px;
    background-color: #F8F8F8;
    color: #333;
    outline: 1px dotted #000;
    text-decoration:none;
    font-size:12px;
}

.bootstrap-scope .navbar-default .navbar-nav > li > a {
    color:#555;
}
